/* Dots */
.slick-dots {
    list-style: none;
}
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 36px;
    line-height: 20px;

    position: absolute;
    top: -40px;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    color: #BDBDBD;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color:#F8475F;
}

.title-shelf {
    padding-left: 50px;
    text-align: left;
    font-family: "Nunito B";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.title-shelf::after{
    margin-top: 8px;
    content: "";
    display: block;
    position: relative;
    width: 65px;
    height: 5px;
    background-color: #C0C0C0;
}
.shelf{display: flex;justify-content: space-between;flex-flow: row wrap;margin-bottom: 50px;}
ul,li{list-style: none;padding: 0;}
.shelf li {max-width: max-content;}
.shelf h3 {
    font-family: "Nunito B";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #7A7A7A;
}
.shelf .stars,
.shelf .product-image {
    margin: 0 auto;
}
.shelf .priceInfo span {
    display: block;
}
.shelf .priceInfo span:first-child{ 
    font-family: "Nunito L";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #7A7A7A;
}
.shelf .priceInfo span:last-child{ 
    margin-top: 2px;
    margin-bottom: 4px;
    font-family: "Nunito B";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}
.shelf .installments {
    font-family: "Nunito L";
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #7A7A7A;
}
.shelf li button {opacity: 0;}
.shelf li:hover button {
    opacity: 1;
    display: flex;
    justify-content: center;align-items: center;
    text-align: center;
    width: 100%;
    max-width: 125px;
    height: 32px;
    margin: 0 auto;
    background: #000000;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 7px;

    font-family: "Nunito B";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (max-width:768px) {    
    .slick-dots li button:before {top: -30px;}
    
    .title-shelf {
        padding-left: 16px;
    }
}