
header {
    justify-content: space-between;
}
.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1161px;
    margin: 0 auto;
    padding: 16px 0 23px;
}

.flex.container h1 {
    flex: 1 2 170px;
    margin-right: 120px;
}

.flex.container .search_box  {
    flex: 1 2 70%;
}

.flex.container .actions_box {
    flex: 1 2 20%;
}


.search_box {position: relative;}
.search_box input {
    width: 658px;
    border: none;
    border-bottom: 1px solid;
    margin-right: 50px;
    height: 41px;
}
.search_box input:focus-visible{outline: none;}

.search_box .lupa {
    position: absolute;
    right: 60px;
    top: 10px;
}

.actions_box-account img {
    margin-right: 5px;
}
.actions_box-account a {
    font-family: "Nunito L";
    text-decoration: none;
    margin-right: 21px;
    color: #7A7A7A;    
    font-size: 13px;
    line-height: 18px;
}