.newsleeter_box {
    background-color: #f2f2f2;
    padding: 24px 0 36px;
}
.newsleeter_box p {
    font-family: "Lato R";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #333333;
    padding-bottom: 16px;
}
.newsleeter_box input:first-child {
    margin-right: 8px;
}
.newsleeter_box input {
    border: none;
    padding: 17px 16px;
    width: 280px;
    height: 48px;
}
.newsleeter_box input:focus-visible {
    outline: none;
}
.newsleeter_box .send-newsletter {
    margin-left: 8px;
    padding: 17px 16px;
    border-radius: 5px;
    background-color: #000;
    border: none;
    color: #FFF;    
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}
.newsleeter_box-sucess {display: block;}
.newsleeter_box-sucess p{
    font-family: "Lato L";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
    padding: 0 16px;
}
.newsleeter_box-sucess p b{
    font-family: "Lato B";font-weight: 700;}

.newsleeter_box-sucess article input {
    font-family: "Lato B";font-weight: 700;
    width: 100%;
    max-width: 315px;
    height: 48px;
    margin-top: 8px;
    padding: 17px 16px;
    border-radius: 5px;
    background-color: #000;
    border: none;
    color: #FFF;    
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}


/*FOOTER*/
.footer_box {
    background-color: #000;
}

.footer_box section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_box .local {
    color: #FFF;
    text-align: left;
    font-family: "Nunito L";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 12px;
}

.footer_box .local h3 {
    font-family: "Nunito B";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 16px;
}

.footer_box .local h3::after {
    content: '';
    display: block;
    position: relative;
    top: 12px;
    width: 50px;
    height: 4px;
    background-color: #FFF;
}

.footer_box .local p {padding-top: 16px;}

.footer_box .contact button:first-child{
    margin-bottom: 25px;
}
.footer_box .contact button {
    padding: 20px;
    width: 195px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    cursor: pointer;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.footer_box .poweredBy {
    text-align: left;
    color: #FFF;
    font-weight: normal;
    font-size: 10.6017px;
    line-height: 14px;
    gap: 25px;
}


@media screen and (max-width:768px) {
    .newsleeter_box p {
        text-align: left;
        padding-left: 16px;
        padding-right: 17px;

        font-family: "Lato B";
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        color: #333333;

    }
    .newsleeter_box article input:first-child{
        margin-right: 0;
        margin-bottom: 22px;
    }
    .newsleeter_box article input:last-child {
        margin-bottom: 7px;
    }
    .newsleeter_box article button {
        width: 100%;
        max-width: 280px;
        margin-top: 7px;
        margin-left: 0;
    }

    .footer_box section{flex-flow: column nowrap; padding-top: 0;}
    .footer_box .local {
        width: 100%;
        padding: 27px 0 27px 16px;
    }
    .footer_box .contact button {width: 198px;height: 38px;}
    .footer_box .poweredBy {
        justify-content: space-around;
        width: 100%;
        padding: 27px 17px 0 16px;
    }
}